<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>New York Times Scraper</title>
</head>

<body>

    <head>
        <meta charset="UTF 8">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>New York Times Scraper</title>
    </head>

    <div id="container">
        {{{ body }}}
    </div>

    <script src="/assets/javascript/app.js"></script>

    <div id="addnote">
        <div id="note-displayer">
            <h2>Note</h2>
            <h3>Article: <span id="article-title"></span></h3>
            <div id="note">
                <label for="note-title">Title</label><br>
                <input type="text" placeholder="Title" name="title" id="note-title"><br>
                <label for="note-body">Note</label><br>
                <textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
                <button type="submit" id="add-note">Save Note</button>
                <button type="button" id="close-note">Cancel</button>
            </div>
        </div>
    </div>

    <script src="/assets/javascript/app.js"></script>
</body>